* {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1#title {
    color: blue;
    background-color: #F0F0F0;
    border: 1px solid #454545;
}

p.paragraph {
    color: rgb(118,170,83);
    background-color: rgb(255,252,147);
}

div p {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

div span {
    color: #985dad;
    font-style: italic;
}
